<nav class="purple lighten-3">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo left">To-Do </a>
        <ul id="nav-mobile" class="right">
            <li><a class="modal-trigger" href="#add-item">Add Item</a></li>

        </ul>
    </div>
</nav>


