<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>


<body>

    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <ul class="collection with-header">
            <% if (tasks.length>0) { %>

                <%  tasks.forEach(task => { %>
            <li class="collection-item">
                <div><a href="/items/<%= task._id%>"><%= task.name%> </a><a href="#!"
                    class="secondary-content">
                    <i class="material-icons" >delete</i><i
                        class="material-icons">edit</i></a></div>
            </li>
            <%  }); %>


            <% }else{%>
            <li>There are no items</li>
            <%}%>
            
        </ul>
    </div>


</body>

</html>